In [28]:
for i in range(1,5):

   for j in range(1,5-i+1):

      print("*",end="")


   print( )

****
***
**
*

In [ ]:
a = 10
for i in range(1,4):

   for j in range(1,i+1):

      print(a,end=" ")
      a+=1

   print( )

10
11 12
13 14 15

In [ ]:
for i in range(1,5):
   a = 10
   for j in range(1,i+1):

      print(a, end=" ")
      a+=1

   print( )

10
10 11
10 11 12
10 11 12 13

In [ ]:
for i in range(1,5):
   a = 65

   for j in range(1,i+1):

      print(chr(a),end=" ")
      a+=1

   print( )

A
A B
A B C
A B C D

In [ ]:
for i in range(1,5):
   a = 68
   for j in range(1,i+1):

      print(chr(a),end=" ")
      a-=1

   print( )

D
D C
D C B
D C B A

In [ ]:
for i in range(1,5):
   a = 68
   for j in range(1,5-i+1):

      print(chr(a),end=" ")
      a-=1

   print( )

D C B A
D C B
D C
D

In [ ]:
for i in range(1,6):

   for j in range(1,i+1):

      if(j%2 ==0):
        print(2,end=" ")
      else:
        print(1,end=" ")


   print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [ ]:
a=70
for i in range(1,5):

   for j in range(1,i+1):

      print(chr(a),end=" ")
      a+=2

   print( )

F
H J
L N P
R T V X

In [31]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print( )

*
**
***
****
*****

In [32]:
for i in range(1,5):
  a=1
  for j in range(1,i+1):
    print(a,end="")
    a+=1
  print( )

1
12
123
1234

In [33]:
for i in range(1,5):
  for j in range(1,i+1):
    print(i,end="")
  print( )

1
22
333
4444

In [10]:
for i in range(1,5):

  for j in range(1,5-i+1):

    print("*",end="")

  print( )

****
***
**
*

In [13]:
for i in range(1,5):
  a=65
  for j in range(1,5-i+1):

    print(chr(a),end="")
    a+=1
  print( )

ABCD
ABC
AB
A

In [15]:
for i in range(1,5):
  a=4
  for j in range(1,5-i+1):

    print(a,end="")
    a-=1
  print( )

4321
432
43
4

In [16]:
for i in range(1,5):
  a=65
  for j in range(1,i+1):

    print(chr(a),end="")
    a+=1
  print( )

A
AB
ABC
ABCD

In [17]:
for i in range(1,6):
  a=1
  for j in range(1,6-i+1):

    print(a,end="")
    a+=1
  print( )

12345
1234
123
12
1

In [19]:
for i in range(1,7):
  a=70
  for j in range(1,7-i+1):

    print(chr(a),end="")
    a-=1
  print( )

FEDCBA
FEDCB
FEDC
FED
FE
F

In [20]:
for i in range(1,5):
  a=1
  for j in range(1,i+1):

    print(a,end="")
    a+=1
  print( )

1
12
123
1234

In [21]:
a=1
for i in range(1,5):

  for j in range(1,i+1):

    print(a,end="")
    a+=1
  print( )

1
23
456
78910

In [23]:
a=10
for i in range(1,5):

  for j in range(1,i+1):

    print(a,end=" ")
    a-=1
  print( )

10
9 8
7 6 5
4 3 2 1

In [28]:
a=65
for i in range(1,4):

  for j in range(1,i+1):

    print(chr(a),end=" ")
    a+=1
  print( )

A
B C
D E F

In [30]:
a=90
for i in range(1,4):

  for j in range(1,i+1):

    print(chr(a),end=" ")
    a-=2
  print( )

Z
X V
T R P