In [13]:
for i in range(1,5):

   for j in range(1,5-i+1):

      print("*",end="")


   print( )

****
***
**
*

In [3]:
a = 10
for i in range(1,4):

   for j in range(1,i+1):

      print(a,end=" ")
      a+=1

   print( )

10
11 12
13 14 15

In [4]:
for i in range(1,5):
   a = 10
   for j in range(1,i+1):

      print(a, end=" ")
      a+=1

   print( )

10
10 11
10 11 12
10 11 12 13

In [7]:
for i in range(1,5):
   a = 65

   for j in range(1,i+1):

      print(chr(a),end=" ")
      a+=1

   print( )

A
A B
A B C
A B C D

In [8]:
for i in range(1,5):
   a = 68
   for j in range(1,i+1):

      print(chr(a),end=" ")
      a-=1

   print( )

D
D C
D C B
D C B A

In [9]:
for i in range(1,5):
   a = 68
   for j in range(1,5-i+1):

      print(chr(a),end=" ")
      a-=1

   print( )

D C B A
D C B
D C
D

In [10]:
for i in range(1,6):

   for j in range(1,i+1):

      if(j%2 ==0):
        print(2,end=" ")
      else:
        print(1,end=" ")


   print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1

In [11]:
a=70
for i in range(1,5):

   for j in range(1,i+1):

      print(chr(a),end=" ")
      a+=2

   print( )

F
H J
L N P
R T V X

In [27]:
for j in range(1,5):

#for j in range(1,5):

   for i in range(5,i,-1):

      print("*", end=" ")



   print( )