In [1]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for j in range(1,5):
    print("*",end="")
  print()

****
 ****
  ****
   ****

In [5]:
for i in range(1,6):
  a = 65
  for j in range(1,i+1):
    print(chr(a),end = "")
    a+=1
  print()

A
AB
ABC
ABCD
ABCDE

In [4]:
a =65
for i in range(1,6):

  for j in range(1,i+1):
    print(chr(a),end = "")
  a+=1
  print()

A
BB
CCC
DDDD
EEEEE

In [9]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end="")

  for j in range(1,i+1):
    print("*",end = "")
  print()

    *
   **
  ***
 ****
*****

In [10]:
for i in range(1,6):
  a=1
  for j in range(1,6-i):
    print(" ",end="")

  for j in range(1,i+1):
    print(a, end="")
    a+=1
  print(  )

    1
   12
  123
 1234
12345

In [11]:
for i in range(1,6):
  a=1
  for j in range(1,i):
    print(" ",end="")

  for j in range(1,7-i):
    print(a,end="")
    a+=1
  print()

12345
 1234
  123
   12
    1

In [12]:
for i in range(1,6):
  a=65
  for j in range(1,i):
    print(" ",end="")

  for j in range(1,7-i):
    print(chr(a),end="")
    a+=1
  print()

ABCDE
 ABCD
  ABC
   AB
    A

In [13]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end="")
  for j in range(1,6):
    print("*",end="")
  print()

    *****
   *****
  *****
 *****
*****

In [14]:
for i in range(1,6):
  a=1
  for j in range(1,6-i):
    print(" ",end="")
  for j in range(1,6):
    print(a,end="")
    a+=1
  print()

    12345
   12345
  12345
 12345
12345

In [15]:
for i in range(1,6):
  a=65
  for j in range(1,6-i):
    print(" ",end="")
  for j in range(1,6):
    print(chr(a),end="")
    a+=1
  print()

    ABCDE
   ABCDE
  ABCDE
 ABCDE
ABCDE

In [17]:
for i in range(1,5):
  for j in range(1,5-i):
    print(" ",end="")
  for j in range(1,i+i):
    print("*",end="")
  print()

   *
  ***
 *****
*******

In [18]:
for i in range(1,5):
  for j in range(1,i):
    print(" ",end="")
  for j in range(1,10-i-i):
    print("*",end="")
  print()

*******
 *****
  ***
   *